body {
  background-color: rgb(202, 202, 202);
}

body::-webkit-scrollbar { 
  width: 0 !important;
}

.bookbox {
  overflow: hidden;
  width: 100%;
}

.bookmark {
  border-top: 2.5px solid rgba(74, 66, 102, .255);
  padding: 5%;
}

.bookmark>p {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 120%;
}

.bookmark:nth-of-type(odd) {
  text-align: right;
}

.bookmark:nth-of-type(odd)>p {
  margin-right: 1%;
}

.bookmark:nth-of-type(even) {
  text-align: left;
}

.bookmark:nth-of-type(even)>p {
  margin-left: 1%;
}

.bookmark a {
  /* border-top: 2px solid rgba(74, 66, 102, .255); */
  color: rgb(70, 70, 70);
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 700%;
  font-weight: 100;
  text-decoration: none;
}



@media screen and (max-width: 500px) and (min-width: 391px) {
  .bookmark a {
    font-size: 500%;
    font-weight: 200;
  }
}

@media screen and (max-width: 400px) {
  .bookmark a {
    font-size: 300%;
    font-weight: 200;
  }
}

@media screen and (max-width: 300px) {
  .bookmark a {
    font-size: 120%;
    font-weight: 200;
  }
}