@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
    }
    .Time {
    animation: fadeIn 2s;
}
  
body {
    background-color: rgb(202, 202, 202);
}

.Time {
    display: flex;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    justify-content: flex-end;
}

.Time>time {
    font-size: 400%;
    line-height: 15vh;
    padding-right: 5%;
    text-align: right;
}

#y {
    font-family: Impact, Charcoal, sans-serif;
    /* font-style: italic; */
    font-weight: bold;
    color: rgba(50, 50, 50, 0.99);
}

#w {
    font-family: "Times New Roman", Times, serif;
    /* font-style: italic; */
    font-weight: bold;
    color: rgba(50, 50, 50, 0.6);
}

#d {
    font-family: Impact, Charcoal, sans-serif;
    /* font-style: italic; */
    font-weight: bold;
    color: rgba(50, 50, 50, 0.6);
}

#m {
    font-family: "Times New Roman", Times, serif;
    /* font-style: italic; */
    font-weight: bold;
    color: rgba(50, 50, 50, 0.99);
}

#t {
    font-family: Impact, Charcoal, sans-serif;
    /* font-style: italic; */
    font-weight: bold;
    color: rgba(50, 50, 50, 0.99);
}

#s {
    font-family: Impact, Charcoal, sans-serif;
    /* font-style: italic; */
    font-weight: bold;
    color: rgba(50, 50, 50, .6);
}