body {
    background-color: rgb(202, 202, 202);
}

.Time {
    display: flex;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    justify-content: flex-end;
}

.Time>time {
    font-size: 400%;
    padding-right: 5%;
    line-height: 15vh;
    text-align: right;
}

#y {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    color: rgba(55, 55, 55, 0.95);
}

#w {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    color: rgba(50, 50, 50, 0.6);
}

#d {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
    color: rgba(50, 50, 50, 0.6);
}

#m {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    color: rgba(55, 55, 55, 0.95);
}

#t {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgba(50, 50, 50, 0.95);
}

#s {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgba(50, 50, 50, 0.6);
}

@media screen and (max-width: 600px) {
    .Time>time {
        font-size: 500%;
    }
}
