
body {
    background: rgba(255, 255, 255, 0);
    margin: 0;
}

#ipbox {
    display: flex;
    height: 100vh;
    justify-content: flex-end;
}

#ipframe {
    padding-right: 5%;
}

div > span {
    font-family: "Comic Sans MS", cursive, sans-serif !important;
    font-weight: bold !important;
}