#weather_bar {
    -webkit-animation: fadeIn 2.5s;
    animation: fadeIn 2.5s;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    display: none;
    height: 60px;
    margin: 0 2vw;
    position: -webkit-sticky;
    position: sticky;
    top: 15px;
  }
  
  #city {
    background-color: transparent;
    border: none;
    color: rgb(74, 66, 102);
    font-size: 30px;
    height: 60px;
    min-height: 35px;
    outline: 0;
    overflow: hidden;
    padding: 0 10px;
    width: 100%;
  }
  
  #unit {
    background-color: transparent;
    border: none;
    color: rgb(74, 66, 102);
    float: left;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    height: 60px;
    letter-spacing: 1.5px;
    max-width: 200px;
    min-width: 50px;
    outline: 0;
    text-align: center;
    width: 20%;
  }
  
  #weather_submit {
    background-color: transparent;
    border: none;
    color: rgb(74, 66, 102);
    float: right;
    font-size: 40px;
    font-weight: 500;
    height: 60px;
    outline: 0;
    padding: 0 13px;
  }
  
  #weather_box {
    display: none;
    height: 100%;
    width: 100%;
  }
  
  #weather_body {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    overflow: -moz-scrollbars-none !important;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
  }
  
  #weather_body::-webkit-scrollbar {
    width: 0 !important;
  }
  
  #weather_box table {
    border-collapse: collapse;
  }
  
  #weather_box th, #weather_box td {
    text-align: center;
    padding: 0.25em;
  }
  
  #weather_box td {
    font-style: italic;
  }
  
  #weatherData {
    color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 3vw;
    /* font-style: italic; */
    font-weight: bold;
    margin-right: 1vw;
    text-align: justify;
  }
  
  #forecastData {
    border-radius: 4px;
    color: black;
    display: contents;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 2.5vw;
    padding: 20px;
  }